/* Button styling */
.button {
    -fx-background-color: #272727;
    -fx-border-color: #161616;
    -fx-text-fill: #cfcfcf;

    -fx-background-radius: 7;
    -fx-border-radius: 7;

    -fx-border-width: 2px;
}

.button:hover {
    /* -fx-background-color: linear-gradient(#1a6e5c 1%, #602e63 99%);
    -fx-border-color: linear-gradient(#08ddab 1%, #db4ee0 99%); */
    -fx-background-color:#373737;
    -fx-border-color: #08ddab;
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: #474747;
    -fx-text-fill: #ffffff;
}

/* Text Area styling */

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #212121;
    -fx-border-color: #1a1f1a;
    -fx-border-width: 4px;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
}

/* DISABLE SCROLL BARS */
.scroll-bar: vertical *.increment-button,
.scroll-bar: vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
    
.scroll-bar: vertical *.increment-arrow,
.scroll-bar: vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
    
.scroll-bar: horizontal *.increment-button,
.scroll-bar: horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
    
.scroll-bar: horizontal *.increment-arrow,
.scroll-bar: horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

/*     COMBO BOX STYLES     */

.combo-box-base .text{
    -fx-translate-y: 0;
    -fx-fill: #cfcfcf;
    -fx-font-size: 14px;
}

.combo-box .list-view {
    -fx-translate-y: 0;
    -fx-background-radius: 3 3 7 7;
    -fx-border-radius: 3 3 7 7;
    -fx-background-color: #2a2a2a;
    -fx-opacity: 0.99;
    -fx-font-size: 14px;
}

.combo-box .list-view .list-cell {
    -fx-translate-y: 0;
    -fx-alignment: center;
    -fx-cell-size: 28;
    -fx-background-radius: 0;
    -fx-border-radius: 7;
    -fx-border-color: transparent;
    -fx-background-color: #2a2a2a;
    -fx-text-fill: #cfcfcf;
    -fx-opacity: 0.99;
    -fx-font-size: 14px;
}

.combo-box .list-view .list-cell:hover {
    -fx-translate-y: 0;
    -fx-cell-size: 32;
    -fx-background-radius: 10;
    -fx-border-radius: 7;
    -fx-border-width: 0px;
    -fx-border-color: #08ddab;
    /* -fx-border-color: #8D38C9; */
    /* -fx-background-color: #2a2a2a; */
    -fx-border-color: transparent;
    -fx-background-color: #9146F1;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
